RewriteEngine On

# Exclude existing files and directories from rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to app/routes/App.php?url=<request>
RewriteRule ^(.*)$ /Wiki/app/routes/App.php?url=$1 [QSA,L]
