.search {
    position: relative;
    width: 300px;
    border: none;
    border-radius: 27px;
    padding: 10px;
    font-size: 15px;
}

.icon {
    background-color: transparent;
    width: 45px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 28px;
    position: absolute;
    top: 0%;
    right: 0%;
}

.title {
    z-index: 100001;
    color: rgba(175, 176, 235, 0.9);
    position: absolute;
    top: 50%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.sub {
    z-index: 100001;
    color: white;
    position: absolute;
    top: 60%;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.cards {
    filter: brightness(50%);
}

.animated {
    filter: brightness(100%);
}

.cards:hover {
    filter: brightness(100%);
}

.modal-header .close {
    padding: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #28a745;
    /* Change the color as needed */
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.modal-header .close:hover {
    opacity: 1;
}